<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="stararm102_description">
  <xacro:include filename="$(find stararm102_description)/urdf/stararm102_description.urdf"/>
  <xacro:include filename="$(find stararm102_moveit_config)/config/stararm102_description.ros2_control.xacro"/>
</robot>
